@import "../../App.less";

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: @gap10;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  .date-container {
    display: flex;
    justify-content: start;
    gap: @gap10;
    width: 100%;
    .date-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: @gap5;
      height: 2.5rem;
      padding: @padding5;
      box-sizing: border-box;
    }
    .date {
      border: @defaultBorder;
      border-radius: @roundedBorder;
    }
  }
  .main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .picture {
      width: 50%;
    }
    .detail {
      width: 45%;
      border: @defaultBorder;
      border-radius: @roundedBorder;
    }
  }
}
